.colum {

    min-height: 30em;
    margin: 1em;
    background-color: antiquewhite;
}

    @media (min-width: 480px){
        body {
            background-color: aqua;
            display: flex; }
            .colum { flex: 1;}
            .prime {flex: 2 ;}
        }



            @media (min-width: 700px){
                body {
                    background-color: rgb(162, 0, 255);
                    display: flex; }
        .colum { flex: 1;}
        .prime {flex: 2 ;}
        }