.colum {
    min-height: 100vw;
    margin: 1em;
    background-color: antiquewhite;
}

    @media (min-width: 800px){
        body {
            background-color: aqua;
            display: grid;
            margin: 10px;
        grid-template-rows: 30vh 20vh 20vh; 
    grid-template-columns: 3fr 1fr 2fr; }
            .colum {grid: 1fr;}
            .prime {grid: 2fr;}
        }



            @media (min-width: 700px
                body {
                    background-color: rgb(162, 0, 255);
                    display: flex; }
        .colum { flex: 1;}
        .prime {flex: 2 ;}
        }